rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, update, delete: 
        if request.auth != null && request.auth.uid == resource.data.user_id;
      allow create:
        if request.auth != null;
    }
    match /templates/{template} {
     allow read: if true;
   }
  }
  
}